vendor/**
web/core/**
web/modules/contrib/**
web/themes/contrib/**
web/libraries/**
web/profiles/contrib/**
web/sites/*/files/**
web/sites/*/private/**
settings.ddev.php
.idea
.phpunit.cache

# Local secrets
.env
.env.local
# Drupal creates these in the config sync directories.
config/*/sync/.htaccess
