<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupal-import-poc">
  <description>Coding standards for custom code.</description>
  <file>web/modules/catalog</file>
  <file>web/modules/util</file>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md,yml"/>
  <arg name="colors"/>
  <arg value="sp"/>
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
  <!-- ISO 4217 currency codes are acronyms by definition. -->
  <rule ref="Drupal.NamingConventions.ValidEnumCase.NoUpperAcronyms">
    <exclude-pattern>CurrencyCode.php</exclude-pattern>
  </rule>
</ruleset>
